body  {

    background-image: url("pictures/backabs.jpg")
}

.contenido {

    margin-top: 100px;

    margin-left: 0 auto;
    margin-right: 0 auto;
}

.fixed-top {

    background-color: red;
}

.contentcolor {

    background-color: gray;


}

p {
    margin: 1em 1em 0em 1em;
    padding: 0em 1em 0em 1em;

    font-size: 1rem;

}

img {

    margin: 1em 4em 0em 4em;
}

.fright {

    float: right;
}