body  {

    background-image: url("pictures/backabs.jpg")
}

.contenido {

    margin-top: 100px;
    float: left;
    width: 60%;
    margin-left: 50px;
    

}

.contentcolor {

    background-color: white;
}

.mar {

    padding-left: 38px;
}

h1 {

    margin-left: 10px;
}